.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #d3d4ce;
}

.loginLogo {
  max-width: 30vw;
  max-height: 30vh;
  margin: 0 auto 1rem;
  display: block;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  background-color: #ebe4db;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 300px;
}

.loginTitle { 
  font-size: 2.5rem;
  color: black;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.loginSubtitle {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.loginInput {
  margin-bottom: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #b6c4bc;
  border: 1px solid #748c84;
  border-radius: 5px;
}

.loginButton {
  padding: 0.8rem;
  background-color: #0e3f41;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.loginButton:hover {
  background-color: #15595c;
}

.registrar {
  margin-top: 0.5rem;
  text-align: center;
  color: white;
  background-color: green;
  border-radius: 10px;
  padding: 0.5rem;
  width: 100px;
  margin: 10px auto;
  display: block;
  text-decoration: none;
}

.registrar:hover {
  background-color: #1e7e34;
  text-decoration: none;
  color: white;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.labelLogin{
  color:black;
}