.navbar {
  background-color: #0e3f41;
  color: #d3d4ce;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #d3d4ce;
}

.nav-links a:hover {
  color: #91a49e;
}
